@charset "utf-8";

#content-main{
	@if $type == "all"{
		float: right;
		width: 700px;
	}
	@if $type == "tab"{
		width: 70%;
	}
	@if $type == "sp"{
		float: none;
		width: 95%;
		margin: 0 auto;
	}
}
#content-sub{
	@if $type == "all"{
		float: left;
		width: 220px;
	}
	@if $type == "tab"{
		width: 25%;
	}
	@if $type == "sp"{
		float: none;
		width: 95%;
		margin: 40px auto 0;
	}
}

#entry-list{
	@if $type == "all"{
		@extend %cf;
		article{
			@extend %cf;
			margin: 0 0 24px;
			padding: 0 0 24px;
			border-bottom: 1px dashed $color_line;
			figure{
				float: left;
			}
			.body{
				padding: 0 0 0 170px;
			}
			h2{
				margin: 0 0 12px;
				font-size: fz(20);
				a{
					color: $color_main;
					font-weight: bold;
				}
			}
			.except{

			}
			.meta{
				margin: 8px 0 0;
				padding: 4px;
				background: url(../images/common/bg01.png);
				time{
					color: #999;
				}
			}
		}
	}
}

#blog-menu{
	@if $type == "all"{
		dl{
			margin: 0 0 40px;
			dt{
				padding: 8px 8px 6px;
				border-radius: 4px;
				background-color: #ddd;
				font-weight: bold;
				text-shadow: 1px 1px 0 #fff;
			}
			dd{
				margin: 8px 0 0;
				ul{
					li{
						a{
							display: block;
							padding: 6px 0 3px 16px;
							color: #333;
							position: relative;
							&:after{
								content: '';
								position: absolute;
								left: 3px;
								top: 13px;
								width: 4px;
								height: 4px;
								border-radius: 2px;
								background-color: #333;
							}
							&:hover{
								color: $color_accent;
							}
						}
					}
				}
			}
		}
	}
}


#single{
	@if $type == "all"{
		background-color: #fff;
		time{
			display: block;
			// padding: 5px 20px 0;
			text-align: right;
			color: #999;
		}
		.meta{
			margin: 30px 0 0;
			padding: 15px 20px;
			// border-top: 2px solid $color_main;
			background: url(../images/common/bg01.png);
			color: #333;
			font-size: fz(11);
			a{
				color: #333;
			}
			.editLink{
				float: right;
			}
		}
	}
	@if $type == "sp" or $type == "tab"{
	}
	@if $type == "sp"{
	}
}

.tiny-mce{
	@if $type == "all"{
		@extend %cf;
		h3{
			clear: both;
		}
		> * + h3{
			padding-top: 40px;
		}
		strong{
			font-weight: bold;
		}
		p{
			margin: 1em 0;
			line-height: 1.8;
		}
		ul,ol{
			margin: 1em 0;
			padding: 0 0 0 1.8em;
			line-height: 1.2;
			li{
				padding: 0 0 .5em 0;
			}
		}
		ul{
			list-style: disc;
		}
		ol{
			list-style: decimal;
		}
		img{
			&.alignleft{
				float: left;
				padding: 0 2% 10px 0;
				width: 48%;
				height: auto;
			}
			&.alignright{
				float: right;
				padding: 0 0 10px 2%;
				width: 48%;
				height: auto;
			}
			&.alignnone{
				width: 48%;
				height: auto;
			}
			&.aligncenter{
				width: 100%;
				height: auto;
				margin: 16px auto;
			}
		}
		table{
			th,td{
				padding: 8px;
				border: 1px solid #aaa;
			}
			thead{
				background-color: #e6e6e6;
				td{
					border-bottom-width: 3px;
				}
			}
		}
	}
	@if $type == "tab"{
		img{
			max-width: 100%;
			height: auto;
		}
	}
	@if $type == "sp"{
		img{
			width: 48%;
			height: auto;
			&.alignnone{
			}
			&.alignleft{
				float: left;
				padding: 0 2% 10px 0;
			}
			&.alignright{
				float: right;
				padding: 0 0 10px 2%;
			}
			&.alignnone{
			}
			&.aligncenter{
				width: 100%;
				margin: 16px auto;
			}
		}
		.leftbox{
			padding: 0 0 10px;
			width: 100%;
			float: none;
		}
		.rightbox{
			padding: 0;
			width: 100%;
			float: none;
		}
	}
}


.pager{
	@if $type == "all"{
		margin: 40px 0 0;
		text-align: center;
		line-height: 1.2;
		a,span{
			@extend %ib;
			padding: .4em .8em .3em;
			border: 1px solid;
			border-color: #ccc;
			background-color: #f9f9f9;
			color: #333;
		}
		span.current{
			border-color: darken($color_main, 10%);
			background-color: $color_main;
			color: #fff;
		}
	}
}
.single-pager{
	@if $type == "all"{
		@extend %cf;
		margin: 40px 0 0;
		line-height: 1.2;
		li{
			width: 48%;
			@extend %oneline;
			a{
				@extend %ib;
				padding: .4em .8em .3em;
				color: #333;
				border: 1px solid;
				border-color: #ccc;
				background-color: #f9f9f9;
			}
		}
		.next{
			float: left;
		}
		.prev{
			float: right;
			text-align: right;
		}
	}
}
