
.attachments-browser .attachments .attachment:after{
	content: attr(aria-label);
	display: block;
	position: absolute;
	bottom: 8px;
	left: 8px;
	right: 8px;
	background: rgba(255,255,255,.9);
	border: 1px solid #ccc;
	word-wrap: break-word;
	overflow: hidden;
}
.attachments-browser .attachments .attachment .filename{
	display: none;
}

.post-type-pickup #post-preview{
	display: none;
}